
	
.m0l0mouti {
	font-family: Tahoma,Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color : #093F7D;
	padding: 2px;
	text-decoration: none;
}
.m0l0mouto {
	background: transparent;
	border : 1px none #FFFFFF;
	margin: 1px;
}	

.m0l0moveri {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color : #FFCC33;
	padding: 2px;
	text-decoration: none;
	background: #093F7D;
}

.m0l0movero {
	background: #093F7D;
	border : 1px solid #093F7D;
	margin: 1px;
}	

.m0l0mdowni {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: center;	
	vertical-align: center;	
	color : #FFCC33;
	padding: 3px;
	background: #093F7D;
}


.m0l0mdowno {
	background: #093F7D;
	border : 1px solid #093F7D;
	margin: 1px;
}	
		
	
.m0l1mouti {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	color : #093F7D;
	padding: 2px;
	text-decoration: none;
}
.m0l1mouto {
	background: #FFCC33;
	border: 1px solid #093F7D;
	margin: 1px;
}	

.m0l1moveri {
	font-family: Tahoma,Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	color : #FFCC33;
	padding: 2px;
	text-decoration: none;
	background: #093F7D;
}

.m0l1movero {
	background: #093F7D;
	border : 1px solid #093F7D;
	margin: 1px;
}	

.m0l1mdowni {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;	
	vertical-align: center;	
	color : #FFCC33;
	padding: 3px;
	text-decoration: none;
	background: #093F7D;
}


.m0l1mdowno {
	background: #093F7D;
	border : 1px none #093F7D;
	margin: 1px;
}	
		
	
.m0l2mouti {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	color : #093F7D;
	padding: 2px;
	text-decoration: none;
}
.m0l2mouto {
	background: #FFCC33;
	border: 1px solid #093F7D;
	margin: 1px;
}	

.m0l2moveri {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	color : #FFCC33;
	padding: 2px;
	text-decoration: none;
	background: #093F7D;
}

.m0l2movero {
	background: #093F7D;
	border : 1px solid #093F7D;
	margin: 1px;
}	

.m0l2mdowni {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;	
	vertical-align: center;	
	color : #FFCC33;
	padding: 3px;
	text-decoration: none;
	background: #093F7D;
}


.m0l2mdowno {
	background: #093F7D;
	border : 1px solid #093F7D;
	margin: 1px;
}	